/* main body */
/* set everything to zer0 */
/*
========================================================
 This pattern is downloaded from www.subtlepatterns.com 
 If you need more, that's where to get'em.
 ========================================================
 */

 
html, body, header { 
  background-image: url("../images/swirl_pattern_jmt.png");           
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
  color: #FFFFFF;
}

.masthead {
    padding: 6em 0;
    background-image: url('http://i.imgur.com/8zjA0a7.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em #D8D8D8;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-size: 2em;
  text-shadow: 2px 2px #000;
}

.masthead-heading {
    margin-top: -0.2em;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    font-size: 6em;
    letter-spacing: 0.05em;
}

/* universal box sizes */

.content-footer,
.introduction-section,
.location-section,
.questions-section,
.projects {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 10px;
    padding: 5px 25px;
    background-color: #D8D8D8;
    color: #848484;
}

/* Introduction Title bar */

.introduction-section .introduction-head {
  background-color: #848484;
  color: #D8D8D8;
  margin: -5px -25px;
  padding-left: 25px;
  border-radius: 5px 5px 0 0;
}

.introduction-section h1 {
  display: inline-block;
}

.fa-info {
  vertical-align: middle;
  color:#000;
  padding: 5px;
}


/* Location Title bar */

.location-section .location-head {
  background-color: #848484;
  color: #D8D8D8;
  margin: -5px -25px;
  padding-left: 25px;
  border-radius: 5px 5px 0 0;
}

.location-section h1 {
  display: inline-block;
}

.fa-location-arrow {
  vertical-align: middle;
  color:#000;
  padding: 5px;
}

/* Question Title bar */

.questions-section .questions-header {
  background-color: #848484;
  color: #D8D8D8;
  margin: -5px -25px;
  padding-left: 25px;
  border-radius: 5px 5px 0 0;
}

.questions-section h1 {
  display: inline-block;
}

.fa-question {
  vertical-align: middle;
  color:#000;
  padding: 5px;
} 

/* Projects Title bar */

.projects .projects-head {
  background-color: #848484;
  color: #D8D8D8;
  margin: -5px -25px;
  padding-left: 25px;
  border-radius: 5px 5px 0 0;  
}

.projects h1 {
  display: inline-block;
}


.fa-tasks {
  vertical-align: middle;
  color:#000;
  padding: 5px; 
}

/* social section */

.social > li {
    display: inline-block;
    padding: 7px;
}

.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2,
.projects > h2 {
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.content-footer {
  /* Red, Green, Blue: #RRGGBB */
  border-radius: 5px;
  background-color: #D8D8D8;
  text-color: #848484;
}

/* Social Icon Colors */

.fa-github {
  color: #000;
  padding: 5px;
}

.fa-twitter {
  color:#58ACFA;
  padding: 5px;
}

.fa-google-plus {
  color:#FF0000;
  padding: 5px;
}